
.yelp-search-title{
    padding-left: 2em;
    padding-top:1em;
    margin-bottom: 15px;
    color: gray;
    text-align: left;
    font-weight: 600;
    font-family: 'roboto', sans-serif;
    font-size: 25px;
}


.search-row {
    display: grid;
    grid-template-columns: 1fr 1fr 20fr;
    margin-bottom: 100px;
  
}


.search-term-label,
.location-label {
   
    margin-left: 100px;;
    margin-right: 10px;
    font-family: 'roboto', sans-serif;
    font-weight: 600;

}

.input-field {
    width: 225px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    text-align: center;
    /* padding-bottom: 100px; ; */
    padding-left: 10px;
    /* padding-top: 20px; */
}

.search-icon-container{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.yelpsearch-icon {
    cursor: pointer;
    padding-top: 0.5em;


}  

.paing-field{
    margin-top: 1em;
 
}
