 .create-post {
    /* margin-top: 10px; */
    display: flex;
    /* gap: 10px; */
    padding: 2em;
    width: 90%;
    margin: 0 auto; /* centers the form */


  }
  .create-title{
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    color: white;
    font-size: 2.5em;

  
  }
   .create-title1{
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    color: white;
    font-size: 2.5em;
    

  
  }

  .create-post-container{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: rgba(241, 224, 208, 0.9);
    background-size: cover;
    background-image: url('../../img/wood.jpg');
    /* height: 71.5vh; */
    /* width: 100vw; */
   
  }

  .create-post-container-update{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: rgba(241, 224, 208, 0.9);
    background-size: cover;
    background-image: url('../../img/wood2.jpg');
    /* height: 71.5vh; */
    /* width: 100vw; */
  }
  
  .post-content {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 1.5em; /* titile with input content box*/
  }
  
  .post-title-input {
    padding: 15px;
    border: 2px solid lightgray;
    background-color: white;
  }
  
  .editorContainer {
    height: 350px;
    overflow: scroll;
    border: 1px solid lightgray;
    padding: 20px;
    background-color: white;
  }
  

  
  .newpost-menu {
    flex: 2;
    flex-direction: column;
    margin-left: 3em;
  
  }
  
  .newpost-item {
    border: 2px solid lightgray;
    background-color: rgb(242, 239, 234);
    background-color: rgba(236, 233, 229, 0.7);
    padding: 1em;
    display: flex;
    flex-direction: column;
    /* font-size: 15px; */
    color: black;
    font-weight: 500;
   
    width: 20em;
  }
  
.select-text{
  font-family: 'roboto', sans-serif;
  font-weight: 600;
  color: black;
}
  
  .uploadimg {
    cursor: pointer;
    color: white;
    background-color: rgb(13, 112, 130);
    border: 1px solid rgb(16, 97, 97);
    padding: 0.5em;
    margin-left: 5em;
    text-align: center;
    font-weight: 600;
    width: 45%;
    font-family: 'roboto', sans-serif;
    
   
  }

 .uploadimg:hover {
    background-color: rgb(14, 68, 82);
    color: white;
  }
  
 .publishbutton {
    cursor: pointer;
    color: white;
    background-color: rgb(18, 98, 118);
    padding: 0.5em;
    margin-top: 10px;
    margin-left: 5em;
    font-weight: 600;
    width: 45%;
    font-family: 'roboto', sans-serif;
   
    /* border-radius: 5px; */
  }

  .publishbutton:hover {
    background-color: rgb(133, 181, 192);
  }

  .newpost-category {
 
    margin-right: 1em;
    margin-left: 1em;
    
  }
input[type='radio'],input[type='checkbox'] {
    margin-right: 1em;
    margin-left: 0em;
   }

   .upload-img-button{
    justify-content: center;
    margin-top: -1em;
   }

   .upload-error-message{
    color: red;
    font-size: 0.8em;
   }

   .upload-imgname{
    font-size: 0.8em;
   }

   .new-post-errors{
    color: red;
    font-size: 0.8em;
   }