.rightbar {
    /* flex: 2; */
    /* height: fit-content; */
    /* margin: 0px; */
    padding-bottom: 20px;
    background-color: #f6e7e7;
    /* border-radius: 10px; */
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    /* padding: 1em; */
    padding-top:20px;
    margin-top: 20px;
   
   /* height: 100vh; */
   
  }
  
  .rightbarItem {
    display: flex;
    flex-direction: column;
    align-items:center;
    /* padding-bottom:1px ; */
   
  }
  
  .rightbarTitle {
    margin: 10px;
    padding: 5px;
    width: 55%;
        
    /* background-color: rgb(239, 233, 233); */
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    text-align: center;
    font-family: "roboto", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #222222;
    font-weight: 600;
  }
  
  .rightbarItem > img {
    margin-top: 15px;
    width: 55%;
    height: auto;
    border-radius: 5px;
  }
  
  .rightbarItem > p {
    padding: 1em;
  }
  
  .rightbarList {
    list-style-type: none;
    margin-bottom:1em;
    margin-right: 1em;
    /* margin-right: 0.5em; */
    /* padding: 1em; */
    
  }
  
  .rightbarListItem {
    display: inline-block;
    width:40%;
    margin-top: 0.4em;
    padding-left:25px;
    cursor: pointer;
  }
  
  .travelwise{
    font-weight: 600;
    max-width: 80%;
   font-family: 'roboto', sans-serif;
  }

  .link-tools{
    color: #795d86;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    font-family: 'roboto', sans-serif;
    text-decoration: none;
  }