

  .question-input{
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #d2bbbb;
    border-radius: 1px;
    font-size: 16px;  
    width: 98%;
    height: 70px;
  
  }
  
  .img-dialog {
    background-color: #dce8ea;
    padding: 30px; /* Increase padding for more space */
    /* border-radius: 5px; */
    /* margin-top: 8px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:100%;
  }
  
  .img-question {
    margin-bottom: 14px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;

    
  }
  
  .qa-answer {
    margin-top: 10px;
    
  }
  .img-answer-container{
    /* margin-top: 20px; */
    margin-left: 2em;
    /* margin-bottom: 10px; */
    width: 55%;
    height: 50vh;
    background-color: #f3ebeb;

  }
 .img-answer-paragraph{
  padding-top:20px ;
  padding-left: 20px;
  padding-right: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
 }
  .img-button1{
    padding: 5px 10px;
    background-color: #304ec2;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .img-button1:disabled {
    background-color: #6d6d6d;
    color: white;
    border: none;
    cursor: not-allowed;
  }

  .img-button2{
    padding: 5px 10px;
    background-color: #304ec2;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;

 
  }
  .img-button1:hover {
    background-color: #071e61;
  }
  .img-button2:hover {
    background-color: #071e61;
  }

  .img-error{
    color:red;
    font-size: 20px;
    margin-left: 11.5em;
  }

  .img-container{
    display: flex;   
    padding-left: 12em;
  } 

  .img-buttons{
    /* display: flex; */
    padding-left: 14em;
    padding-top: 1em;
  }